{
  "extends": [
    "mito"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "space-before-function-paren": ["error", {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
    }],
    'newline-per-chained-call': ['off']
  }
}
