{
  "extends": ["mito/legacy"],
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 7
  },

  "env": {
    "es6": true
  }
}
